html {
	overflow-y: scroll;
}

body{
}

form{
	margin-bottom:0px !important;
}

.jumbotron {
	padding: 5px 0 !important;
	background: #620d0A;
	background: -moz-linear-gradient(45deg, #a51217 0%, #2f0800 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #a51217), color-stop(100%, #2f0800) );
	background: -webkit-linear-gradient(45deg, #a51217 0%, #2f0800 100%);
	background: -o-linear-gradient(45deg, #a51217 0%, #2f0800 100%);
	background: -ms-linear-gradient(45deg, #a51217 0%, #2f0800 100%);
	background: linear-gradient(45deg, #a51217 0%, #2f0800 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#a51217', endColorstr='#2f0800', GradientType=1 );
}

.drop-down-btn-group {
	position: relative;
	display: inline-block;
}

.drop-down-btn-group span {
	width: 120px;
}

.selectboxit-selected {
	background: #ADD8E6;
}

body li a {
	cursor: pointer;
}

.search-bar {
	margin-top: 5px;
}

.basketModalRow {
	cursor: pointer;
	padding: 2px 0px 2px 2px;
	border-top: 1px solid #dddddd;
}

.basketModalRow:HOVER {
	background-color: #f5f5f5;
}

#new-product-inputs {
	margin-bottom : 0px;
	margin-top : 10px;
}

.weekchanger-btn-group{
	margin-top: 10px;
	margin-bottom: 5px;
}

#week-changer span{
	padding-left: 4px;
	padding-right: 4px;
}

#trainers-selector, .fitness-calendar{
}

#trainers-selector{
	height: auto !important;
	display: inherit !important;
}