html {
	overflow-y: scroll;
}

body {
	background: url("../img/furley_bg.png") repeat;
/* 	-webkit-background-size: cover; */
/* 	-moz-background-size: cover; */
/* 	-o-background-size: cover; */
/* 	background-size: cover; */
}

form {
	margin-bottom: 0px;
}

th{
	font-weight: normal;
}

.jumbotron {
	padding: 5px 0 !important;
	background: #620d0A;
	background: -moz-linear-gradient(45deg, #a51217 0%, #2f0800 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #a51217), color-stop(100%, #2f0800) );
	background: -webkit-linear-gradient(45deg, #a51217 0%, #2f0800 100%);
	background: -o-linear-gradient(45deg, #a51217 0%, #2f0800 100%);
	background: -ms-linear-gradient(45deg, #a51217 0%, #2f0800 100%);
	background: linear-gradient(45deg, #a51217 0%, #2f0800 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(    startColorstr='#a51217', endColorstr='#2f0800', GradientType=1 );
}

.drop-down-btn-group {
	position: relative;
	display: inline-block;
}

.drop-down-btn-group span {
	width: 120px;
}

.selectboxit-selected {
	background: #ADD8E6;
}

body li a {
	cursor: pointer;
}

.search-bar {
	margin-top: 5px;
}

.basketModalRow {
	cursor: pointer;
	padding: 2px 0px 2px 2px;
	border-top: 1px solid #dddddd;
}

.basketModalRow:HOVER {
	background-color: #f5f5f5;
}

#new-product-inputs {
	margin-bottom: 0px;
	margin-top: 10px;
}

.weekchanger-btn-group {
	margin-top: 10px;
	margin-bottom: 5px;
}

#week-changer span {
	padding-left: 4px;
	padding-right: 4px;
}

#trainers-selector,.fitness-calendar {
	
}

#trainers-selector {
	height: auto !important;
	display: inherit !important;
}

#fitness-calendar-table {
	border-collapse: collapse;
	background-color: #e6e6e6;
}

#fitness-calendar-table th{
	background-color: white;
}


#fitness-calendar-table thead tr th {
	overflow: hidden;
}

#fitness-calendar-table tbody tr td {
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

#fitness-calendar-table tbody tr td:HOVER{
	opacity: 0.25;
}

.reserved-entry{
	background-color: #AD5958 !important;
}

.free-entry{
	background-color: white !important;
}

.entry-inbasket{
	background-color: #51a351 !important;	
}

.today-entry{
	background-color: rgb(250,242,203) !important;
}

.past-entry{
	opacity: 0.4;
}

.notation-div{
	display: inline-block;
	border: 1px solid #bbbbbb;
	width: 40px;
	margin: 0px 2px 0px 12px;
	height: 18px;
	text-align: center;
	vertical-align: baseline;
}

#notation-th{
	font-size: 11px !important;
	font-weight: lighter !important;
	text-align: center;
/* 	background-color: gray !important;	 */
	opacity: 0.5;
}

#googleMap img {
	max-width: none;
}

.contact-page .hero-unit {
	padding:20px !important;
	margin-bottom:20px !important;
}